
<!--This code was added to add a boilerplace to all the viwes using mate EJS. The boilerplate that all the pages will have is listed under the layouts folder-->

<% layout('/layouts/boilerplate')%>

        <h1>All Events</h1>
        <!--Added this code to add a new event-->
        <div>
            <a class="btn btn-outline-dark mb-3" href="/events/new">Add New Event</a>
        </div>
       
        <% for (let event of events){%>
        <!--Adding basic style to the index page using bootstrap-->
          <div class="card" mb-3>
              <div class="row">
                 <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=event.image%>">
                 </div>
                 <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> <%= event.title %> </h5>
                        <p class="card-text"><%= event.description %></p>
                        <p class="card-text">
                            <small class="text-secondary"><%= event.location %></small> 
                        </p>
                        <a class="btn btn-primary" href="/events/<%=event.id%>">View <%=event.title%></a>
                    </div>
                 </div>
              </div>
          </div>     
        <% }%>
  
        
    